{% extends 'base.html.twig' %}

{% block title %}My account{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>My account</h1>
        <h2>Welcome!</h2>
        <p>You are logged in as {{ app.user.username }}.</p>
        <p>
            <a href="{{ path('account_password') }}">Change password</a>
        </p>
        <p>
            <a href="{{ path('app_logout') }}">Logout</a>
        </p>
    </div>
</div>
{% endblock %}
