{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Change password</h1>
            {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
            {% endif %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}